@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #ff4988,#ffc781, #fffefc);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.Login_form {
    width: 100%;
    max-width: 25rem;
    height: 55%;
    background: #fffefc;
    border-radius: 10px;
    padding: 40px 30px;
}

.Login_heading {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

.form_text {
    margin-bottom: 40px;
    position: relative;
}

.form_text input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    padding-left: 10px;
}

.form_text input:hover + label, .form_text input:focus + label, .form_text input:valid + label {
    transform: translateY(-1.5rem);
    font-weight: bold;
}

.form_text label {
    position: absolute;
    left: 8px;
    bottom: 12px;
    transition: 0.5s;
    pointer-events: none; /*Quan trọng*/
}

.form_submit {
    margin-bottom: 1.2rem;
    height: 3rem;
    width: 100%;
    background: linear-gradient(120deg, #6271c2,#3f83aa, #842f8b);
    border: none;
    border-radius: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    background-size: 200%;
    transition: 0.5s;
}

.form_submit:hover{
    background-position: right;
}

.Format_link {
    color: #00aefd;
    font-size: inherit;
    text-decoration: none;
    margin-top: 10px;
}

.Format_link:hover {
    color: #46196b;
    transition: 0.25s;
}

.prevent {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 15px 20px;
    text-align: center;
}

.Register_link {
    color: #00aefd;
    font-size: inherit;
    margin-top: 5px;
}

.Register_link:hover {
    color: #46196b;
    transition: 0.25s;
}